body{
	background-color:black;
	font-family:cursive;
	color:white;
	}
a:link{	
	
	text-decoration:none;
	
	}
a:hover{
		color:grey;
	}
.back{
	position:relative;
	left:300px;
	bottom:48px;
	
}