body {
    margin: 70px auto; /* Vertical margin 70px, horizontal margin auto */
    padding: 20px;
    border: 1px solid white;
    background-color: black;
    color: white;
    font-family: cursive;
    max-width: 1000px; /* Limit content width to 1000px */
    box-sizing: border-box; /* Include padding and border in width */
}
h1{
	color:white;
	text-align:center;	
	}
img{
	
	position:relative;
	bottom:60px;
	margin: 0px;
	}
h2{
	text-decoration: underline;
}
align1{
	position:relative;
	left:50px;
}
body{
	
		color:white;
		background-color:black;
		font-family:Modern;
		font-size: 225%;
		
	}
a:link{
		color:green;
		text-decoration:none;
	}
a:hover{
	color:lightgrey;
	}
a:visited{
	color:grey;
	}
