h1{
	color:white;
	text-align:center;	
	}
img{
	
	position:relative;
	bottom:60px;
	margin: 0px;
	}
h2{
	text-decoration: underline;
}
align1{
	position:relative;
	left:50px;
}
body{
	
		color:white;
		background-color:black;
		font-family:Modern;
		
		
	}
a:link{
		color:green;
		text-decoration:none;
	}
a:hover{
	color:lightgrey;
	}
a:visited{
	color:grey;
	}
