body{
	background-color:black;
	color:white;
	font-family:cursive;
	height:1080px;
	width:595px;
	margin-left:auto;
	margin-right:auto;
	border:1px solid white;
	background-color:black;
	color:white;
	}
dl{
			font-size:26;
			
	}
dt{
	text-decoration:underline;}
h1{
	font-size:46;
	text-align:center;
	}
a:link{
	color:lightgreen;
	text-decoration:none;
}
a:hover{
	color:grey;
	
}
#back{
	position:relative;
	top:70px;
	left:500px;
	}
