/* Resume.css */

body {
    margin: 70px auto; /* Vertical margin 70px, horizontal margin auto */
    padding: 20px;
    border: 1px solid white;
    background-color: black;
    color: white;
    font-family: cursive;
    max-width: 1000px; /* Limit content width to 1000px */
    box-sizing: border-box; /* Include padding and border in width */
}

dl {
    font-size: 26px;
}

dt {
    text-decoration: underline;
}

h1 {
    font-size: 46px;
    text-align: center;
}

a:link {
    color: lightgreen;
    text-decoration: none;
}

a:hover {
    color: grey;
}

position:relative;
	top:0px;
	left:100%;
