/* Resume.css */

body {
    margin: 70px auto;
    padding: 20px;
    border: 1px solid white;
    background-color: black;
    color: white;
    font-family: serif;
    max-width: 1000px;
    box-sizing: border-box;
}

dl {
    font-size: 26px;
}

dt {
    text-decoration: underline;
}

h1 {
    font-size: 46px;
    text-align: center;
}

a:link {
    color: lightgreen;
    text-decoration: none;
}

a:visited {
    color: grey;
}

a:hover {
    color: grey;
}

#back {
    position: relative;
    float: right;
    font-size: 26px;
}

/* Media query for screens up to 576px width (small screens) */
@media (max-width: 576px) {
    body {
        margin: 20px auto; /* Reduce vertical margin for small screens */
        padding: 10px; /* Reduce padding for small screens */
    }

    dl {
        font-size: 20px; /* Decrease font size for small screens */
    }

    h1 {
        font-size: 36px; /* Decrease font size for small screens */
    }

    #back {
        font-size: 20px; /* Decrease font size for small screens */
        margin-top: 10px; /* Adjust margin for small screens */
    }
}
