body{
		background-color:black;
		color:white;
		font-family:cursive;
		
	}
h1{
	text-align:center;
	text-decoration:underline;
	}
.align1{
		position:relative;
		left:450px;
		}
.align2{
		position:relative;
		left:500px;
		}
		a:link{
			text-decoration: none;
			color:lightgreen;
		}
		a:hover{
			color: grey;
		}